:root {
 --foreground: #212529;
 --article-background: #e7f5ff;
 --article-background-shadow: 0px 6px 0px 0px #1864ab;
 --background: #FAF4EC;
 --link: #276983;
 --accent: #364fc7;
}

@media (prefers-color-scheme: dark) {
 :root {
 --foreground: #DEE2E6;
 --article-background: #212529;
 --article-background-shadow: 0px;
 --background: #10252F;
 --link: #DEE2E6;
 --accent: #DEE2E6;
 }
}

body {
 font-family: Georgia, monospace;
 color: var(--foreground);
 background: var(--background);
}

h1, h2, h3, h4, h5, h6 {
 font-family: Helvetica, sans-serif;
}

main {
 margin: auto;
 padding: 0 2em;
}

/* @media (min-width:480pt) {
 main {
 padding: 0 0.5em;
 }
} */

/* FONTS */
article h1, article h2, article h3, article h4, article h5, article h6 {
 /* margin: 0 0 0.25em 0; */
}

h1 {font-size: xx-large; margin-top: 0}
h2 {font-size: large}
h2 a {text-decoration: none}
h3, h4, h5, h6 {font-size: medium}
article p {margin-bottom: 1em;}
p, li, ul {
 line-height: 180%;
}

ul {
 padding: 0;
}

/* ELEMENTS */
header {
 padding: 0 2em;
 display: flow;
}

header nav ul {
 margin: auto;
 list-style-type: none;
 margin: 0;
 padding: 0;
}

header nav li {
 display: inline-block;
}

header nav li a {
 display: block;
 text-decoration: none;
 margin-right: 1em;
}

article {
 margin: 4em 0;
}

aside a {
 text-decoration: none;
}

header, main, footer {
 max-width: 45em;
}

header {
 padding-top: 4em;
 padding-bottom: 2em;
}

footer {
 margin: 4em 0;
}

footer p {
 text-align: center;
}

a:link { color: var(--link); }
a:visited { color: var(--link); }
a:hover { color: var(--link); }
a:active { color: var(--link); }

a:focus {
 outline: 2px solid var(--accent);
 text-decoration: none;
}

.post-info, .post-tags {
 font-size: 85%;
 color: var(--accent);
}

.post-info i:nth-child(2) {
 margin-left: .75em;
}

.post-tags {
 width: 100%;
}

.tag {
 background: var(--accent);
 color: var(--background) !important;
 padding: .3em .4em;
 margin: auto;
 margin: .8em 0 0 .4em;
 border-radius: .5em;
 text-decoration: none;
 display: inline-block;
}

hr {
 border: 0;
 height: 1px;
 background: #333;
 margin: 2em 0;
}

code {
 padding: .2em .3em;
 border: 1px solid var(--accent);
 white-space: pre-wrap;
 word-wrap: break-word;
}

pre, code {
 font-family: 'MD IO 0.4';
 font-size: 90%;
}

pre code {
 background: #000;
 color: #eee;
 display: inline-block;
 padding: 1em;
 white-space: pre-wrap;
 word-wrap: break-word;
}

img {
 overflow-clip-margin: content-box;
 overflow: clip;
 width: 100%;
}

obs {
 float: left;
 border: 0.5px solid;
 display: grid;
 width: 100%;
 margin-bottom: 24px;
}

obs-title-now {
 background-color: lightsalmon;
 border-bottom: 0.5px solid;
 font-size: xxx-large;
 padding: 10px;
}

obs-title {
 background-color: mistyrose;
 border-bottom: 0.5px solid;
 font-size: 16px;
 padding: 10px;
}

obs-date {
 font-family: monospace;
 padding: 10px;
 border-bottom: 0.5px solid;
}

obs-description {
 padding: 10px;
 line-height: 180%;
}

ul {
 padding: auto;
}

li {
 padding-top: 0px;
}

#recent-posts li {
 list-style-type: none;
}

recent-posts-date {
 font-variant: all-petite-caps;
 font-family: monospace;
 padding-right: 4px;
}

table {
 border-collapse: collapse;
}

td, th {
 padding: .75em;
 text-align: left;
 border: 1px solid var(--accent);
}

.weblog-title a {
 text-decoration: none;
 color: var(--foreground);
}

.previous-page + .next-page::before {
 content: "\2022";
 color: #ccc;
 margin: 0 0.75em;
}

.divider::after {
 content: "\2022 \2022 \2022";
 color: #ccc;
}

@media screen and (max-width: 576px) {
 article {
 margin: 3em 0;
 }

 #statuslog {
 margin-top: 1em;
 }
}
