/* ROOT VARIABLES */
:root {
  --foreground: #212529;
  --article-background: #e7f5ff;
  --article-background-shadow: 0px 6px 0px 0px #1864ab;
  --background: #FAF4EC;
  --link: #276983;
  --accent: #364fc7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #DEE2E6;
    --article-background: #212529;
    /* --article-background-shadow: 0px; */
    --background: #10252F;
    --link: #DEE2E6;
    --accent: #DEE2E6;
  }
}

/* BASE LAYOUT */
body {
  font-family: Georgia, "Times New Roman", serif;
  color: var(--foreground);
  background: var(--background);
  padding: 0 1.25rem;
}

main {
  max-width: 65ch;
  margin: 0 auto;
}

article {
  margin: 2rem 0;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
  max-width: 100%;
  height: auto;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  margin: 2em 0;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: .75em;
  text-align: left;
  border: 1px solid var(--accent);
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 2rem;
  margin: 0 0 0.5em;
}

h2 {
  font-size: 1.5rem;
  margin: 2em 0 0.75em;
}

h3,
h4,
h5,
h6 {
  font-size: 1.125rem;
  margin: 1.5em 0 0.5em;
}

p,
li {
  line-height: 1.6;
}

article p {
  margin-bottom: 1em;
}

ul {
  padding: 0;
  margin: 0 0 1em;
}

li {
  padding-top: 0;
}

/* LINKS */
a {
  color: var(--link);
}

a:visited {
  color: var(--link);
}

a:hover {
  text-decoration: underline;
}

a:focus-visible {
  outline: 2px solid var(--accent);
  text-decoration: none;
}

aside a {
  text-decoration: none;
}

.weblog-title a {
  text-decoration: none;
  color: var(--foreground);
}

/* CODE STYLES */

pre {
  overflow-x: auto;
}

code {
  padding: .2em .3em;
  border: 1px solid var(--accent);
}

pre,
code {
  font-family: 'MD IO 0.4';
  font-size: 90%;
}

pre code {
  background: #000;
  color: #eee;
  display: block;
  padding: 1em;
  white-space: pre;
}

/* HEADER / NAV / ARTICLE / FOOTER */

header,
main,
footer {
  max-width: 65ch;
  margin: 0 auto;
}

header {
  margin: 3rem 0 2rem;
}

footer {
  margin: 3rem 0;
}

article {
  margin: 2.5rem 0;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav li {
  display: inline-block;
}

header nav li a {
  display: block;
  text-decoration: none;
  margin-right: 1em;
}

/* CARD VARIANT FOR ARTICLES
article {
  margin: 4em 0;
    padding: 1.5em;
     border-radius: 6pt;
     background-color: var(--article-background);
     box-shadow: var(--article-background-shadow);
} */

/* POST META AND TAGS */
.post-info,
.post-tags {
  font-size: 85%;
  color: var(--accent);
}

.post-info i:nth-child(2) {
  margin-left: .75em;
}

.post-tags {
  width: 100%;
}

.tag {
  background: var(--accent);
  color: var(--background) !important;
  padding: .3em .4em;
  margin: .8em 0 0 .4em;
  border-radius: .5em;
  text-decoration: none;
  display: inline-block;
}

#recent-posts li {
  list-style-type: none;
}

.recent-posts-date {
  font-variant: all-petite-caps;
  font-family: monospace;
  padding-right: 4px;
}

/* MISC UI ELEMENTS */
.previous-page + .next-page::before {
  content: "\2022";
  color: #ccc;
  margin: 0 0.75em;
}

.divider::after {
  content: "\2022 \2022 \2022";
  color: #ccc;
}

/* RESPONSIVE ADJUSTMENTS */
/* default = mobile */

/* larger than small phones/tablets */
@media (min-width: 768px) {
  body {
    padding: 0 2rem;
  }

  article {
    margin: 2.5rem 0;
  }
}

@media (min-width: 1200px) {
  body {
    padding: 0 3rem;
  }

  article {
    margin: 3rem 0;
  }
}

/* OPTIONAL LAYOUT TWEAK (DISABLED)
@media (min-width:480pt) {
  main {
    padding: 0 0.5em;
  }
}
*/
